@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
textarea{
    resize: none;
}
input:focus, 
select:focus, 
textarea:focus{
    outline: none;
}
h1,h2,h3,h4{
    font-size: 1.6rem;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}